html {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #696167;
}

* {
    margin: 0;
    padding: 0;
}
/* ヘッダー背景*/
header{
    background-color: #EFD8EA;
    height: 90px;
}
/*ヘッダーの文字*/
#logo{
    padding-top: 30px;
}

/*テーブルの位置調整*/
.forms{
    padding-top: 150px;
}

/*入力フォーム(ここから）*/
label {
    font-size: 20px;
    padding-right: 0px;
}

#error_message {
    font-size: 18px;
    display: block;
    height: 5px;
}

.idpw{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:60%;
    max-width:250px;
}

input {
    width: 250px;
    height: 40px;
    font-size: 20px;
}

/*入力フォーム(ここまで）*/

/*登録＆リセットボタン*/
.image-button {
background: transparent;
    border: none;
    cursor: pointer;
    width: 90%;
    max-width:111px;
}

.image-button > img {
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #EFD8EA;
}

.imgb{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:60%;
    max-width:250px;   
}

.signup{
	margin-top:25px;
}
.reset{
	margin-top:25px;
}

body {
background-color: #F8F8F8;
}
